#top-bar {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
  background-color: #555554;
  
}

a:link, a:visited, a:active {color: white; text-decoration: none;}
a:hover {color: grey; text-decoration: none;}

.caption {
  color: white;
  float: right;
}

h1 {
  padding: 320px 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: skyblue;
  text-align: center;
  text-shadow: 2px 2px black;
  font-size: 6em;
}

h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  text-align: center;
  font-size: 4em;
  font-weight: 500;
}

h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  text-align: center;
  font-size: 2em;
}

p {
  color: black;
}

/* index.html */
#main-title {
  background-image: url("../images/mountian.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 850px;
  width: auto;
}
#intro {
  padding-top: 50px;
  height: 1000px;
  background-color: white;
  padding-right: 400px;
  padding-left: 400px;
  color: black;
}

#camera-picture {
  display: block;
  margin: auto;
  padding: 50px 0;
  width: 30%;
  height: auto;
}

.projects-button {
  display: block;
  margin: auto;
  width: 20%;
  height: 50px;
  border: 3px solid black;
  padding: 10px;
  margin-bottom: 50px;
}

#project-button a:link, #project-button a:visited, #project-button a:active {color: black; text-decoration: none;}
#project-button a:hover {color: grey; text-decoration: none;}

#links h3 {
  border-bottom: 2px solid black;
}

.row {
  padding-top: 20px;
  display: table;
  width: 100%;
  margin: 20px auto;
}
.row a {
  display: table-cell;
  text-align: center;
  width: 16%px;
  height: auto;
}

.row img {
  width: 50px;
  height: auto;
}

#instagram {
  width: 60px;
}

/* projects.html */

#projects-title {
  background-image: url("../images/skyline.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 850px;
  width: auto;
}
#projects {
  padding-top: 50px;
  height: 1100px;
  padding-left: 400px;
  padding-right: 400px;
}

#epicodus div {
  border: 3px solid black;
}

#osu div {
  border: 3px solid black;
}

.logo {
  padding-top: 50px;
}

#epicodus p {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}

#projects ul, ol {
  text-align: center;
  list-style-position: inside;
}

#osu {
  padding-top: 20px;
  border-top: 2px solid black;
}

#projects img {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

#crazy8 img {
  width: 20%;
  height: auto;
}

#zoo-tycoon img {
  width: 20%;
  height: auto;
}

#projects a:link, #projects a:visited, #projects a:active {color: blue; text-decoration: none; font-size: 1em; padding-bottom: 15px; border-bottom: 1px solid black;}
#projects a:hover {color: grey; text-decoration: none;}

/* about.html */

#about-title {
  background-image: url("../images/lava-rock.jpeg");
  background-size: cover;
  background-attachment: fixed;
  height: 850px;
  width: auto;
}

.information h2 {
  padding-top: 80px;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
}

.information {
  padding-right: 400px;
  padding-left: 400px;
}

.information img {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.information ul, p {
  text-align: center;
  list-style-position: inside;
}

#name {
  font-weight: 600;
}

.hobbies {
  float:left;
}

/*contact.html */

#contact-title {
  background-image: url("../images/st-john-bridge.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 850px;
  width: auto;
}

.info-block {
  height: 700px;
  text-align: center;
}

.info-block img {
  width: 50%;
  height: auto;
}

.info-block a:link, .info-block a:visited, .info-block a:active {color: blue; text-decoration: none; font-size: 2em;}
.info-block a:hover {color: grey; text-decoration: none;}