#top-bar {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
  background-color: #555554;
}
/* index.html */
#main-title {
  background-image: url("../images/mountian.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 850px;
  width: auto;
}
#intro {
  height: 1000px;
  background-color: aquamarine;
}

#intro h2 {
  text-align: center;
  position: center;

}

#camera-picture {
  float: left;
  width: 20%;
  height: auto;
}
/* projects.html */

#projects-title {
  background-image: url("../images/skyline.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 850px;
  width: auto;
}

/* about.html */

#about-title {
  background-image: url("../images/lava-rock.jpeg");
  background-size: cover;
  background-attachment: fixed;
  height: 850px;
  width: auto;
}

/*contact.html */

#contact-title {
  background-image: url("../images/st-john-bridge.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 850px;
  width: auto;
}