#top-bar {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
  background-color: #555554;
  
}

a:link, a:visited, a:active {color: white; text-decoration: none;}
a:hover {color: grey; text-decoration: none;}

h1 {
  padding: 320px 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: skyblue;
  text-align: center;
  text-shadow: 2px 2px black;
  font-size: 6em;

}

/* index.html */
#main-title {
  background-image: url("../images/mountian.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 850px;
  width: auto;
}
#intro {
  height: 1000px;
  background-color: white;
}

#intro h2 {
  text-align: center;
  position: center;

}

#camera-picture {
  float: left;
  width: 20%;
  height: auto;
}
/* projects.html */

#projects-title {
  background-image: url("../images/skyline.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 850px;
  width: auto;
}

/* about.html */

#about-title {
  background-image: url("../images/lava-rock.jpeg");
  background-size: cover;
  background-attachment: fixed;
  height: 850px;
  width: auto;
}

/*contact.html */

#contact-title {
  background-image: url("../images/st-john-bridge.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 850px;
  width: auto;
}